<h2>Administrator Page</h2>

<ul>
  <li>@Html.ActionLink("Destination Maintenance", "Index", "Destination")</li>
  <li>@Html.ActionLink("Route Maintenance", "Index", "Route")</li>
  <li>@Html.ActionLink("Vehicle Maintenance", "Index", "Vehicle")</li>
  <li>@Html.ActionLink("Trip Maintenance", "Index", "Trip")</li>

</ul>