<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BRS.DesktopUI.Properties.Settings.BRSDBConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Users\Max\Documents\GIT-REPOS\PUCMM\BusReservationSys\src\BRS\BRS.WebUI\App_Data\BRSDB.mdf;Initial Catalog=BRS.Data.EF_Context.DBContext;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>